<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Drop Down Sidebar Menu | CodingLab </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
    crossorigin="anonymous"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <style>

    .home-section{
    }
    
   </style>
<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">CodingLab</span>
    </div>
    <ul class="nav-links">
      <li>
        <div class="iocn-link">
          <a href="/login">
            <i class='bx bx-closet'></i>
            <span class="link_name">옷장</span>
          </a>
        </div>
    
      </li>
      <li>
        <div class="iocn-link">
          <a href="/codyregister">
            <i class='bx bx-body' ></i>
            <span class="link_name">코디</span>
          </a>
        </div>
  
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-group' ></i>
            <span class="link_name">팔로잉</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">팔로잉</a></li>
          <li><a href="#">최범준</a></li>
          <li><a href="#">정유민</a></li>
          <li><a href="#">오승민</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bxs-plus-square' ></i>
            <span class="link_name">추가</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">추가</a></li>
          <li><a href="#">친구추가</a></li>
          <li><a href="http://localhost:3000/closeadd">옷장추가</a></li>
          <li><a href="#">코디추가</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-store' ></i>
          <span class="link_name">거래</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="productselect">거래</a></li>
        </ul>
      </li>     
      <li>
        <a href="#">
          <i class='bx bx-cog' ></i>
          <span class="link_name">설정</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">설정</a></li>
        </ul>
      </li>
      <li>
    <div class="profile-details">
      <div class="profile-content">
      </div>
      <div class="name-job">
        <div class="profile_name">님</div>
        <div class="job">Web Desginer</div>
      </div>           <a class='bx bx-log-out' href="/logout">로그아웃</a>


    </div>
  </li>
</ul>
  </div>

  <section class="home-section">
    <div class="sectiontop">
      <span class="close_count">옷 개수: <%=short.length +pants.length+shoes.length+etc.length +overcoat.length%></span>
      <span class="close_count">코디 개수: <%=codylen.length%></span>
      <span class="close_count">*도움말</span>
      <span class="close_count"><a style="  font-family: 'GangwonEduPowerExtraBoldA';text-decoration: none; color:black;" href="/myshop">*마이 쇼핑</a></span>
      <span class="user_name"><%=name%>님 환영합니다</span> 

      <a class="logout" href="/logout">로그아웃</a>

    </div>
    <div class="secondtop">
      <span class="logo">옷짱.</span> 

      <select value="2022년" name ='YEAR' title ="연도" class="select_year" style="margin-bottom:20px;">
        <option value="2022년">2022년</option>
        <option value="2021년">2021년</option>
        <option value="2020년">2020년</option>
        <option value="2019년">2019년</option>
      </select>
   </div>
   <div class="thirdtop">

    <input class="input_search"  type="text" id="search" onkeyup="codyfilter()" placeholder="찾고싶은 제품명을 검색하세요." />
  </div>
 
    <div style ='margin-top:0px; border-bottom: 2px solid rgb(170, 167, 167); width:1900px;'></div>
    <div class="home-content">

      <span class="text">전체 코디</span>  
      <div class="buttongroup">
        <button class ="catebtn" value ="전체" onclick="starts()" >전체</button>
        <button class ="catebtn" value ="봄" onclick="starts()" >봄</button>
        <button class ="catebtn" value ="여름" onclick="starts()" >여름</button>
        <button class ="catebtn" value ="가을" onclick="starts()" >가을</button>
        <button class ="catebtn" value ="겨울" onclick="starts()" >겨울</button>
        <button class ="catebtn" value ="스트릿" onclick="codyspec()" >스트릿</button>
        <button class ="catebtn" value ="캐주얼" onclick="codyspec()" >캐주얼</button>
        <button class ="catebtn" value ="빈티지" onclick="codyspec()" >빈티지</button>
        <button class ="catebtn" value ="모던" onclick="codyspec()" >모던</button>
        <button class ="catebtn" value ="댄디" onclick="codyspec()" >댄디</button>
        <button class ="catebtn" value ="미니멀리즘" onclick="codyspec()" >미니멀리즘</button>
        <button class ="catebtn" value ="클래식" onclick="codyspec()" >클래식</button>
        <button class ="catebtn" value ="스포티" onclick="codyspec()" >스포티</button>

        </div>
    </div>

    <div class ="category">카테고리별 코디</div>

    <div class="close_list">

      <% for(var i=0; i<cody.length; i++) { %>
       
        <div class="boxtotal" onclick="location.href='/codyselect?codyid=<%= cody[i].cody_id %>';">
          <p class="card-closet-spec"><%= cody[i].seasonspec %></p>
          <p class="card-closet-codyspec"><%= cody[i].codyspec %></p>


          <div class = "first_box">
            <div class ="codyname"><%= cody[i].codyname %></div>

          <img src="<%= cody[i].shimage %>"onerror="this.onerror=null; this.src='no_img.jpg'"; style="width: 120px; height: 120px; margin-top:16px;" alt="..." >
          <img src="<%= cody[i].pimage %>"onerror="this.onerror=null; this.src='no_img.jpg'"; style="width: 120px; height: 120px; margin-top:10px;" alt="..." >
          <img src="<%= cody[i].simage %>"onerror="this.onerror=null; this.src='no_img.jpg'"; style="width: 120px; height: 120px; margin-top:10px;" alt="..." >
        </div>
        <div class = "second_box">

          <img src="<%= cody[i].image  %>"  onerror="this.onerror=null; this.src='no_img.jpg'"; style="width: 120px; height: 120px;" alt="...">
          <img src="<%= cody[i].ovimage %>"  onerror="this.onerror=null; this.src='no_img.jpg'"; style="width: 120px; height: 120px; margin-top:10px;" alt="...">
        </div>
        </div>
        <% } %>  

    </div>
    <div class ="category">사진별 코디</div>
    <div class="close_list">

      <% for(var i=0; i<codynotnull.length; i++) { %>
       
        <div class="boxtotal" onclick="location.href='/codyselect?codyid=<%= codynotnull[i].cody_id %>';">
          <p class="card-closet-spec"><%= codynotnull[i].seasonspec %></p>
          <p class="card-closet-codyspec"><%= codynotnull[i].codyspec %></p>

          <div class = "first_box">
            <div class ="codyname"><%= codynotnull[i].codyname %></div>

          <img src="<%= codynotnull[i].codyimage %>"style="width: 270px; height: 500px; margin-top:16px;" alt="..." >
        </div>
   
        </div>
        <% } %>  

    </div>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        등록하기
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/closeadd?user=<%=name%>">옷 등록</a></li>
        <li><a class="dropdown-item" href="/select?user=<%=name%>">카테고리별로 코디등록 </a></li>
        <li><a class="dropdown-item" href="/pictureselect?user=<%=name%>">사진으로 코디등록</a></li>
      </ul>
    </div>
    <div>
  
  </section>

  <script src="script.js"></script>
<script>
  function codyfilter() {

var value, name, item, i;

value = document.getElementById("search").value.toUpperCase();
item = document.getElementsByClassName("boxtotal");

for(i=0;i<item.length;i++){
  name = item[i].getElementsByClassName("first_box");
  if(name[0].innerHTML.toUpperCase().indexOf(value) > -1){
    item[i].style.display = "flex";
  }else{
    item[i].style.display = "none";
  }
}
}
function starts() {

var boo, name, item, i,b,body, spec;
items = document.getElementsByClassName("catebtn");
button = document.querySelectorAll('.catebtn ')
item = document.getElementsByClassName("boxtotal");
body = document.getElementsByClassName("card-body");
color = document.getElementsByClassName("home-section");
name = document.getElementsByClassName("text");


button.forEach(b=>b.addEventListener('click',(e)=>{ // foreach문은 배열객체를 돌리는 문인데 getElementsByClassName으로 하면은
  e.preventDefault()                                // 타입이HTMLCollection이라고나와서 해결법 = Array.from().foreach 를 사용하던가 
        const filter = e.target.value               // querySelectorAll()을 사용하면 된다.
        console.log(button);
        console.log(items);    



for(i=0;i<item.length;i++){
if(filter==='전체'){
  $(".home-content span").text("전체 코디");

  color[0].style.backgroundColor = "#E4E9F7";

  item[i].style.display = "flex";
}else{ 
  if(filter ==="봄"){
    $(".home-content span").text("봄 코디");

    color[0].style.backgroundColor = "pink";

  }else if(filter ==="여름"){
    $(".home-content span").text("여름 코디");

    color[0].style.backgroundColor = "blue";

  }else if(filter ==="가을"){
    $(".home-content span").text("가을 코디");

    color[0].style.backgroundColor = "brown";

  }else if(filter ==="겨울"){
    $(".home-content span").text("겨울 코디");

    color[0].style.backgroundColor = "white";

  }else{break;}
  spec = item[i].getElementsByClassName("card-closet-spec");

  
  if(spec[0].innerHTML===filter){ // card-spec클래스의 태그의 value값 === btn클래스의 사용자 선택한 버튼의 value값

    item[i].style.display = "flex"; //card클래스 보여줌
  
  }
  else{
    item[i].style.display = "none";
  }

 


}
}
}))

}

function codyspec() {

var boo, name, item, i,a,body, spec;
items = document.getElementsByClassName("catebtn");
button = document.querySelectorAll('.catebtn ')
item = document.getElementsByClassName("boxtotal");
body = document.getElementsByClassName("card-body");
color = document.getElementsByClassName("home-section");
name = document.getElementsByClassName("text");


button.forEach(a=>a.addEventListener('click',(e)=>{ // foreach문은 배열객체를 돌리는 문인데 getElementsByClassName으로 하면은
  e.preventDefault()                                // 타입이HTMLCollection이라고나와서 해결법 = Array.from().foreach 를 사용하던가 
        const filter = e.target.value               // querySelectorAll()을 사용하면 된다.
        console.log(button);
        console.log(items);    
for(i=0;i<item.length;i++){
  codyspec = item[i].getElementsByClassName("card-closet-codyspec");

  
  if(codyspec[0].innerHTML===filter){ // card-spec클래스의 태그의 value값 === btn클래스의 사용자 선택한 버튼의 value값
    $(".home-content span").text(filter);

    item[i].style.display = "flex"; //card클래스 보여줌
  
  }
  else{
    $(".home-content span").text(filter);
    item[i].style.display = "none";
  }
}
}))
}



</script>
<script src="http://code.jquery.com/jquery-latest.js"></script> 

</body>
<script src="https://unpkg.com/magic-snowflakes/dist/snowflakes.min.js"></script>
<script>
      var sf = new Snowflakes();

</script> 
</html>