<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Drop Down Sidebar Menu | CodingLab </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
    crossorigin="anonymous"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">CodingLab</span>
    </div>
    <ul class="nav-links">
      <li>
        <div class="iocn-link">
          <a href="/login">
            <i class='bx bx-closet'></i>
            <span class="link_name">옷장</span>
          </a>
        </div>
    
      </li>
      <li>
        <div class="iocn-link">
          <a href="/codyregister">
            <i class='bx bx-body' ></i>
            <span class="link_name">코디</span>
          </a>
        </div>
  
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-group' ></i>
            <span class="link_name">팔로잉</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">팔로잉</a></li>
          <li><a href="#">최범준</a></li>
          <li><a href="#">정유민</a></li>
          <li><a href="#">오승민</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bxs-plus-square' ></i>
            <span class="link_name">추가</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">추가</a></li>
          <li><a href="#">친구추가</a></li>
          <li><a href="http://localhost:3000/closeadd">옷장추가</a></li>
          <li><a href="#">코디추가</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-store' ></i>
          <span class="link_name">거래</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">거래</a></li>
        </ul>
      </li>     
      <li>
        <a href="#">
          <i class='bx bx-cog' ></i>
          <span class="link_name">설정</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">설정</a></li>
        </ul>
      </li>
      <li>
    <div class="profile-details">
      <div class="profile-content">
      </div>
      <div class="name-job">
        <div class="profile_name">님</div>
        <div class="job">Web Desginer</div>
      </div>           <a class='bx bx-log-out' href="/logout">로그아웃</a>


    </div>
  </li>
</ul>
  </div>

  <section class="home-section">
    <div class="sectiontop">
      <span class="close_count">옷 개수: </span>
      <span class="close_count">코디 개수:</span>
      <span class="close_count">*도움말</span>

      <a class="logout" href="/logout">로그아웃</a>

    </div>
    <div class="secondtop">
      <span class="logo">StyleCloset.</span> 
      <a class="heart_icon"></a>
      <a class="cart_icon"></a>
      <a class="alarm_icon"></a> 
      <span class="user_name">3님 환영합니다</span> 
   </div>
   
 
    <div style ='margin-top:20px; border-bottom: 2px solid rgb(170, 167, 167); width:1900px;'></div>
    <div class="home-content">

    <span class="text">내 상점</span>
    </div>

          <table>
            <thead> 
              <tr>
                <th>사진</th>
                <th>제목</th>
                <th>가격</th>
                <th>지역</th>
                <th>판매완료</th>
              </tr>
            </thead>
            <% for(var i=0; i<product.length; i++) { %>

            <tbody>
              <tr>
                <td>
                  <img src="<%= product[i].product_img %>"  onerror="this.onerror=null; this.src='<%= product[i].product_oneimage %>'"; style="width: 120px; height: 120px;" alt="...">
                </td>
                <td><%= product[i].name %></td>                
                <td><%= product[i].price %>원</td>
                <td><%= product[i].region %></td>
                <td><a  href="/productdelete/<%= product[i].product_id %>">판매완료</a></td>
              </tr>
            </tbody>
            <% } %>

          </table>

  

    
    
  
  </section>

  <script src="script.js"></script>
<script>
 
function codyspec() {

var boo, name, item, i,a,body, spec;
items = document.getElementsByClassName("catebtn");
button = document.querySelectorAll('.catebtn ')
item = document.getElementsByClassName("boxtotal");
body = document.getElementsByClassName("card-body");
color = document.getElementsByClassName("home-section");
name = document.getElementsByClassName("text");


button.forEach(a=>a.addEventListener('click',(e)=>{ // foreach문은 배열객체를 돌리는 문인데 getElementsByClassName으로 하면은
  e.preventDefault()                                // 타입이HTMLCollection이라고나와서 해결법 = Array.from().foreach 를 사용하던가 
        const filter = e.target.value               // querySelectorAll()을 사용하면 된다.
        console.log(button);
        console.log(items);    
for(i=0;i<item.length;i++){
  codyspec = item[i].getElementsByClassName("card-closet-codyspec");

  
  if(codyspec[0].innerHTML===filter){ // card-spec클래스의 태그의 value값 === btn클래스의 사용자 선택한 버튼의 value값
   
    item[i].style.display = "flex"; //card클래스 보여줌
  
  }
  else{
    item[i].style.display = "none";
  }
}
}))
}



</script>
<script src="http://code.jquery.com/jquery-latest.js"></script> 

</body>
<script src="https://unpkg.com/magic-snowflakes/dist/snowflakes.min.js"></script>
<script>
      var sf = new Snowflakes();

</script> 
</html>