<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Drop Down Sidebar Menu | CodingLab </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
    crossorigin="anonymous"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <style>
.scrolling-short{
  max-width: 1750px;
  display: flex;
  overflow-x:auto;
  
  }
  .scrolling-pants{
  max-width: 1350px;
  display: flex;
  overflow-x:auto;
  
  }
  .scrolling-shoes{
  max-width: 1350px;
  display: flex;
  overflow-x:auto;
  
  }
  .scrolling-short::-webkit-scrollbar {
    width: 10px;
  }
  .scrolling-short::-webkit-scrollbar-thumb {
    background-color: #7b7c7e;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  .scrolling-short::-webkit-scrollbar-track {
    background-color: rgb(228, 222, 222);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }
    .home-section{
    }
    .dropdown{
      position: fixed;
      bottom :17px;
      right:60px
    }
   </style>
<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class='bx bx-menu' ></i>

      <span class="logo_name">CodingLab</span>
    </div>
    <ul class="nav-links">
      <li>
        <div class="iocn-link">
          <a href="/login">
            <i class='bx bx-closet'></i>
            <span class="link_name">옷장</span>
          </a>
        </div>
        
      </li>
      <li>
        <div class="iocn-link">
          <a href="/codyregister">
            <i class='bx bx-body' ></i>
            <span class="link_name">코디</span>
          </a>
        </div>
     
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-group' ></i>
            <span class="link_name">팔로잉</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">팔로잉</a></li>
          <li><a href="#">최범준</a></li>
          <li><a href="#">정유민</a></li>
          <li><a href="#">오승민</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bxs-plus-square' ></i>
            <span class="link_name">추가</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">추가</a></li>
          <li><a href="#">친구추가</a></li>
          <li><a href="http://localhost:3000/closeadd">옷장추가</a></li>
          <li><a href="#">코디추가</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-store' ></i>
          <span class="link_name">거래</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/productselect">거래</a></li>
        </ul>
      </li>     
      <li>
        <a href="#">
          <i class='bx bx-cog' ></i>
          <span class="link_name">설정</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">설정</a></li>
        </ul>
      </li>
      <li>
    <div class="profile-details">
      <div class="profile-content">
      </div>
      <div class="name-job">
        <div class="profile_name">님</div>

        <div class="job">Web Desginer</div>
      </div>          

    </div>
  </li>
</ul>
  </div>

  <section class="home-section">
    <div class="sectiontop">
      <span class="close_count">옷 개수: <%=short.length +pants.length+shoes.length+etc.length +overcoat.length%></span>
      <span class="close_count">코디 개수: <%=codylen.length%></span>
      <span class="close_count">*도움말</span>
      <span class="close_count">*마이 쇼핑</span>
      <span class="user_name"><%=name%>님 환영합니다</span> 

      <a class="logout" href="/logout">로그아웃</a>

    </div>
    <div class="secondtop">
      <span class="logo">옷짱.</span> 

      <select value="2022년" name ='YEAR' title ="연도" class="select_year" style="margin-bottom:20px;">
        <option value="2022년">2022년</option>
        <option value="2021년">2021년</option>
        <option value="2020년">2020년</option>
        <option value="2019년">2019년</option>
      </select>
   </div>
   <div class="thirdtop">

    <input class="input_search"  type="text" id="search" onkeyup="codyfilter()" placeholder="찾고싶은 제품명을 검색하세요." />
  </div>
      <div style ='margin-top:0px; border-bottom: 2px solid rgb(170, 167, 167); width:1900px;'></div>

      <div class="home-content">

      <span class="text">중고 상품</span>  

    </div>


<div class="product_container">
    <div style=" margin-left:50px; margin-top:50px; width:500px; height:500px;" class='carouselcontainer'>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="<%= product[0].product_img %>" onerror="this.parentNode.parentNode.parentNode.parentNode.style.display='none'" class="d-block w-100" alt="...">
          
        </div>

        <div class="carousel-item">
          <img src="<%= product[0].product_img2 %>" onerror='imageerror(this)'  class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="<%= product[0].product_img3 %>" onerror='imageerror(this)'  class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="<%= product[0].product_img4 %>" onerror='imageerror(this)'  class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="<%= product[0].product_img5 %>" onerror='imageerror(this)' class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </div>

      <div style="margin-left:50px; margin-top:50px; width:500px; height:500px;">
      <img src="<%= product[0].product_oneimage %>" onerror="imageerror(this)"  class="d-block w-100" alt="...">     
      </div>
      <div style="margin-left:100px; margin-top:50px;"class='product_content'>
        <div><h1><%= product[0].name %></h1></div>
        <div><h2  class='product_name'><%= product[0].price %> 원</h2></div>
        <div style ='margin-top:0px; border-bottom: 2px solid rgb(170, 167, 167); width:500px;'></div>

        <div class='product_name'><span>상품상태: 중고</span></div>
        <div class='product_name'><span>거래지역: <%= product[0].region %></span></div>
        <div style="width:500px; height:170px;" class='product_name'><span>상품내용: <%= product[0].description %></span></div>
        <div class="product_name">
         <span>작성자: <%= product[0].prouserid %></span>

        </div>
      </div>

    </div>
    <div class="card">
      <form action="/comment" method="POST">
          <input name="pid" type="hidden" id="boardId" value="<%=pid %>" />
          <div class="card-header">댓글 달기</dv>

          <div class="card-body">
              <textarea name="content" id="reply-content" class="form-control" row = "1"></textarea>
          </div>
              <button  type="submit" id="btn-reply-save" >등록</button>
      </form>
  </div>
  <br />
  <div class="card">
      <div class="card-header">댓글 리스트</dv>
          <ul id="reply--box" class="list-group">
            <% for(var i=0; i<comment.length; i++) { %>
              <li id="reply--1" class="list-group-item d-flex justify-content-between">
                      <div><%=comment[i].content %></div>
                      <div class="d-flex">
                           <% if(product[0].prouserid==comment[i].conuserid){ %>
                          <div class="font-italic">판매자 :<%=comment[i].conuserid %> &nbsp;</div>
                           <% }else{ %>
                            <div class="font-italic">작성자 :<%=comment[i].conuserid %> &nbsp;</div>

                            <% } %>

                          <button class="badge">삭제</button>
                      </div>
                  </li>
             <% } %>
                </ul>
      </div>
.


  </div>

  
  
  </section>

  <script src="script.js"></script>
<script>
  function start() {

var boo, name, item, i,b,body, spec;
items = document.getElementsByClassName("catebtn");
button = document.querySelectorAll('.catebtn ')
item = document.getElementsByClassName("card");
body = document.getElementsByClassName("card-body");

button.forEach(b=>b.addEventListener('click',(e)=>{ // foreach문은 배열객체를 돌리는 문인데 getElementsByClassName으로 하면은
  e.preventDefault()                                // 타입이HTMLCollection이라고나와서 해결법 = Array.from().foreach 를 사용하던가 
        const filter = e.target.value               // querySelectorAll()을 사용하면 된다.
        console.log(button);
        console.log(items);                                          
        //color[0].style.backgroundColor = "#E4E9F7";


for(i=0;i<item.length;i++){
if(filter==='전체'){

  item[i].style.display = "flex";
}else{
  spec = body[i].getElementsByClassName("card-spec");
  if(spec[0].innerHTML===filter){ // card-spec클래스의 태그의 value값 === btn클래스의 사용자 선택한 버튼의 value값
    
    item[i].style.display = "flex"; //card클래스 보여줌
  
  }else{
    item[i].style.display = "none";
  }
}
}
}))

}
function imageerror(a){
  a.parentNode.remove ? a.parentNode.remove() : a.parentNode.removeNode();


}

function starts() {

var boo, name, item, i,b,body, spec;
button = document.querySelectorAll('.catebtn ');
item = document.getElementsByClassName("card");
body = document.getElementsByClassName("card-body");
color = document.getElementsByClassName("home-section");


button.forEach(b=>b.addEventListener('click',(e)=>{ // foreach문은 배열객체를 돌리는 문인데 getElementsByClassName으로 하면은
  e.preventDefault()                                // 타입이HTMLCollection이라고나와서 해결법 = Array.from().foreach 를 사용하던가 
        const filter = e.target.value               // querySelectorAll()을 사용하면 된다.

for(i=0;i<item.length;i++){
if(filter==='전체'){
  $(".home-content span").text("전체 옷장");

  color[0].style.backgroundColor = "#E4E9F7";

  item[i].style.display = "flex";
}else{ 
  if(filter ==="봄"){
    $(".home-content span").text("봄 옷장");

    color[0].style.backgroundColor = "pink";

  }else if(filter ==="여름"){
    $(".home-content span").text("여름 옷장");

    color[0].style.backgroundColor = "blue";

  }else if(filter ==="가을"){
    $(".home-content span").text("가을 옷장");

    color[0].style.backgroundColor = "brown";

  }else if(filter ==="겨울"){
    $(".home-content span").text("겨울 옷장");

    color[0].style.backgroundColor = "white";

  }
  spec = body[i].getElementsByClassName("card-closet-spec");
  
  if(spec[0].innerHTML===filter){ // card-closet-spec클래스의 태그의 value값 === btn클래스의 사용자 선택한 버튼의 value값
   
    item[i].style.display = "flex"; //card클래스 보여줌
  
  }else{
    item[i].style.display = "none";
  }
}
}
}))

}


</script>
<script src="http://code.jquery.com/jquery-latest.js"></script> 

</body>
<script src="https://unpkg.com/magic-snowflakes/dist/snowflakes.min.js"></script>
<script>
      var sf = new Snowflakes();

</script> 
</html>
